{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": "./src",
          "@api": "./src/api",
          "@pages": "./src/pages",
          "@components": "./src/components",
          "@container": "./src/container",
          "@constants": "./src/constants",
          "@images": "./src/assets/images",
          "@css": "./src/assets/css",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}